
<% include ./partials/html %>
<!-- Header -->
<% include ./partials/header %>

<div class="container">
    <div class="jumbotron jumbotron-title">
        <h1 class="text-center">Sign Into Instagram</h1>
      
        <%- signinTemplate %>

    </div>
</div>


<% include ./partials/footer %>

