
<% include ./partials/html %>
<!-- Header -->
<% include ./partials/header %>

<div class="splash-index">
    <div class="home-container container">
        <div class="jumbotron jumbotron-title">
            <h1 class="text-center">Welcome to <span class='rejoinder'>Rejoinder</span></h1>
          <h3 class='text-center'>Dont be a Bothead</h3>

        </div>
    </div>
    <div class='home-sub-content'>
        <div class="container">
            <h3 class="text-center">The tool that helps you comment on other posts like a real person, but a lot faster.</h3>
            <hr class="hr strong" />
            <br />
            <h3 class="text-center">Great for all kinds of accounts</h3>
            <br />
            <div class="row examples">
                <div class="col-md-3 ico-container"><i class="fa fa-headphones" aria-hidden="true"></i><h5 class="ico-desc">Musicians</h5></div>
                <div class="col-md-3 ico-container"><i class="fa fa-paint-brush" aria-hidden="true"></i><h5 class="ico-desc">Artists</h5></div>
                <div class="col-md-3 ico-container"><i class="fa fa-rss" aria-hidden="true"></i><h5 class="ico-desc">Bloggers</h5></div>
                <div class="col-md-3 ico-container"><i class="fa fa-camera-retro" aria-hidden="true"></i><h5 class="ico-desc">Photographers</h5></div>
            </div>
            <div class="row">
                <div class="col-md-2 col-md-offset-5">
                    <a href="./signup" class="btn btn-transparent btn-dark btn-block btn-primary">Try Now</a>
                </div>
            </div>
        </div>
    </div>
</div>

<% include ./partials/footer %>

