
<% include ./partials/html %>
<!-- Header -->
<% include ./partials/header %>

<div class="container login-container">
    <div class="jumbotron jumbotron-title">
        <h1 class="text-center">Welcome to <span class='rejoinder'>Rejoinder</span></h1>
        <h2>Login</h2>
        <div class="row">
            
            <div class="col-md-8 col-md-offset-2">
              <div class="form-group">
                  <span ></span>
                <input type="text" name='username' data-bind="value: username, valueUpdate: 'afterkeydown'" class="form-control" id="username" placeholder="Username">
              </div>
              <div class="form-group">
                <input type="password" name="password" class="form-control" data-bind="value: pass" id="pass" placeholder="Password">
              </div>
            </div>
        </div>
        <div class="text-center">
            <button class="btn btn-primary btn-transparent btn-lg text-center" data-bind="enable: submitable">Sign up</button>
        </div>
    </div>
</div>


<% include ./partials/footer %>