
<% include ./partials/html %>
<!-- Header -->
<% include ./partials/header %>

<div class="container">
    <div class="jumbotron jumbotron-title">
        <h1 class="text-center">Welcome to <span class='rejoinder'>Rejoinder</span></h1>
      <h2>Sign up</h2>
        <p>Rejoinder uses instagram in order to function. In order to do so, we need to get permission from instagram to post comments and likes on your behalf.</p>
        <p><a href="/auth" class="btn btn-primary btn-transparent">Sign up with Instagram</a></p>
    </div>
</div>


<% include ./partials/footer %>