html {
  height: 100%;
}
body {
  height: 100%;
  overflow-x: hidden;
  background-color: #5d5c61;
}
.rejoinder {
  font-family: 'Marck Script', cursive;
  font-size: 7rem;
}
.main-navbar {
  width: 100%;
  margin-bottom: 0px;
  background-color: #938e94;
  z-index: 50;
  min-height: 35px;
}
.main-navbar .navbar-header {
  padding: 20px;
  width: 100%;
}
.main-navbar .page-nav .account-bar .profile-img {
  width: 60px;
  border-radius: 35px;
  margin: 3px;
}
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
.clearfix {
  display: inline-block;
}
* html .clearfix {
  height: 1%;
}
.clearfix {
  display: block;
}
.container {
  top: 85px;
  position: relative;
}
.main-content {
  position: relative;
  width: 90%;
  margin: 0 auto;
}
.jumbotron-title {
  background: rgba(100, 100, 100, 0.2);
  color: white;
}
.btn-transparent {
  background-color: transparent;
}
.account-buttons li {
  margin-right: 10px;
}
.account-buttons li a {
  width: 100px;
}
.dash-menu {
  background-color: #938e94;
  color: #f5f5f5;
  position: fixed;
  left: 0;
  height: 100%;
  padding: 20px;
}
.hash-search {
  font-size: 40px;
  position: relative;
  top: 15px;
}
.hash-search .form-group .input-group {
  width: 100%;
}
.hash-search .form-group .input-group input {
  height: 53px;
}
.hash-search .form-group .input-group .bootstrap-tagsinput {
  border-radius: 0 4px 4px 0;
  width: 100%;
}
.hash-search .form-group .input-group .input-group-addon {
  width: 55px;
  font-size: 40px;
}
footer {
  color: white;
  position: absolute;
  bottom: 1%;
}
footer dt,
footer dd {
  float: left;
  margin-right: 5px;
}
footer dt {
  clear: both;
  width: 65px;
}
#countdown-wrap {
  margin: 0 auto;
  width: 100%;
  padding: 20px;
  font-family: arial;
  max-width: 650px;
}
#goal {
  font-size: 48px;
  text-align: right;
  color: #FFF;
}
@media only screen and (max-width: 640px) {
  #goal {
    text-align: center;
  }
}
#glass {
  width: 100%;
  height: 20px;
  background: #c7c7c7;
  border-radius: 10px;
  float: left;
  overflow: hidden;
}
.progress {
  float: left;
  height: 20px;
  background: #FF5D50;
  z-index: 333;
}
.goal-stat {
  width: 25%;
  padding: 10px;
  float: left;
  margin: 0;
  color: #FFF;
  text-align: center;
}
@media only screen and (max-width: 640px) {
  .goal-stat {
    width: 50%;
    text-align: center;
  }
}
.goal-number,
.goal-label {
  display: block;
}
.goal-number {
  font-weight: bold;
}
.post-container {
  width: 85%;
  padding: 5px;
  border-radius: 6px;
  background-color: #7395ae;
  position: relative;
  display: inline-block;
  display: block;
}
.post-container .like {
  position: absolute;
  top: 2%;
  right: 2%;
  width: 90px;
}
.post-container .like input {
  display: none;
}
.post-container .like input + label {
  position: absolute;
  z-index: 100;
  overflow: hidden;
  height: 4em;
  width: 4em;
  display: block;
  text-align: center;
  line-height: 95px;
  cursor: pointer;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
  border-radius: 50%;
}
.post-container .like input + label:before {
  content: '';
  z-index: -1;
  position: absolute;
  background: #dc487f;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  top: 0;
  left: 0;
  transform: scale(0);
  -webkit-ransform: scale(0);
}
.post-container .like input + label:after {
  content: '';
  z-index: -1;
  position: absolute;
  background: transparent;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  top: 0;
  left: 0;
  transform: scale(0);
  -webkit-transform: scale(0);
}
.post-container .like input[type="checkbox"]:checked + label svg {
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  fill: white;
  transform: scale(1.3);
  -webkit-transform: scale(1.3);
}
.post-container .like input[type="checkbox"]:checked + label:after {
  -webkit-animation: like-a 0.3s 0.2s forwards;
  -moz-animation: like-a 0.3s 0.2s forwards;
  animation: like-a 0.3s 0.2s forwards;
}
.post-container .like input[type="checkbox"]:checked + label:before {
  -webkit-animation: like-a 0.5s 0s forwards;
  -moz-animation: like-a 0.5s 0s forwards;
  animation: like-a 0.5s 0s forwards;
}
.post-container .like label svg {
  display: inline-flex;
  width: 35px;
  vertical-align: 4px;
  fill: #a7a7a7;
}
@-webkit-keyframes like-a {
  100% {
    -webkit-transform: scale(1.03);
    transform: scale(1.03);
    -moz-transform: scale(1.03);
  }
}
@-moz-keyframes like-a {
  100% {
    -webkit-transform: scale(1.03);
    transform: scale(1.03);
    -moz-transform: scale(1.03);
  }
}
@keyframes like-a {
  100% {
    -webkit-transform: scale(1.03);
    transform: scale(1.03);
    -moz-transform: scale(1.03);
  }
}
.post-container .image-container img {
  max-width: 100%;
  max-height: 100%;
  display: block;
  margin: 0 auto;
}
.post-container .side-details {
  top: 1rem;
  height: 90%;
  width: 30%;
  float: left;
}
.post-container .side-details .comments {
  max-height: 15%;
  overflow-y: auto;
}
.post-container .side-details .input-comments > * {
  margin: 3px 0px;
}
.post-container .side-details .comment {
  height: 60%;
  top: 25%;
}
.post-container .side-details .js-submit-comment {
  bottom: 2%;
  width: 100%;
  float: left;
}
.ticker-container {
  vertical-align: middle;
  margin-top: 25px;
  position: absolute;
  z-index: 100;
  right: 5%;
  top: 12%;
}
.ticker {
  border: 1px solid red;
  border-radius: 64px;
  padding: 12px;
  font-size: 4rem;
  width: 80px;
  text-align: center;
  display: block;
  transform: scale(1);
  opacity: 1;
  z-index: 1000;
  transition: all 1s ease-in-out;
}
.ticker.fade {
  transform: scale(2);
  opacity: 0;
}
