<meta charset="UTF-8">
<title>Super Awesome</title>

<!-- CSS (load bootstrap from a CDN) -->
<link rel="stylesheet" href="/static/css/all.css">
<link href="https://fonts.googleapis.com/css?family=Marck+Script" rel="stylesheet">


